.create-block{
    display: flex;
    flex-direction: column;
    background-color: white;
    
}
.inputs{
    display: flex;
    flex-direction: column;
    padding-left: 10%;
    padding-right: 10%;
}