.primary-nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
    background-color: #acc4cc;
    margin-bottom: 10px;
    border-radius: 4px;
}

.nav-link{
    text-decoration: none;
    color: #000;
    font-family: 'Noto Sans', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal; 
    margin: 0 10px;
}
.center-links {
    flex-grow: 0;
    text-align: center;
    text-decoration: none;
    color: #000;
    font-family: 'Noto Sans', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal; 
  }
  
  .center-links .nav-link {
    margin: 0; 
  }