/* ProfilePage.css */
.profile-header {
    text-align: center;
  }
  
  .profile-image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 10px;
  }
  
  .profile-content {
    margin-top: 20px;
  }
  
  h3 {
    color: #333;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    margin-bottom: 5px;
  }
  
  .logout-button {
    background-color: #ff6347;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
  }
  .change-button {
    background-color: #acc4cc;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
  }
  .profile-block{
    display: flex;
    justify-content: space-around;
    background: white;
  }
  .porfile-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .vertical-line{
    background: #f5f5f5;
    border-right: 2px solid #010101;
    margin-right: 2%;
    margin-left: 2%;
  }
  .favorite-recipe{
    display: block;
    width: 100%;
  }