.recipe-card{
    display: flex;
    flex-direction: column;
    border: 1px solid #000;
    border-radius: 50px;
    padding: 2%;
    background-color: beige;
}
.recipe-cards-container{
    display: flex;
    flex-direction: column;
    margin: 5%;
    gap: 10px;
}
.recipe-des{
    display: flex;
}

.recipe-img-contaner{
    display: flex;
    justify-content: center;
}