.recipe-container{
    background-color: white;
    border-radius: 6px;
    padding: 5%;
    margin-left: 5%;
    margin-right: 5%;
}

.recipe-cards-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
   
}
.inputs{
    display: flex;
    flex-direction: column;
}
.filters{
    display: flex;
    justify-content: center;
    align-items: baseline;
}
.select-menu{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 50px;
    border-radius: 2px;
    border-width: 1px;
    background-color: white;
    padding: 5%;
}
.cuisine-menu{
display: flex;
flex-direction: column;
}