.recipe-card{
    display: flex;
    flex-direction: column;
    border: 1px solid #000;
    background-color: beige;
}
.recipe-des{
    display: flex;
    flex-direction: column;
    padding-left: 2%;
    padding-right: 2%;
}

.recipe-img-contaner{
    display: flex;
    justify-content: center;
}
.recipe-img{
    width: 300px;
}
.title-recipe{
    color: #84BD00;
    font-family: Montez;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.like-block{
    display: flex;
}